PORT=8080
MONGO_URI=mongodb://localhost:27017
NODE_ENV=development
EXPENSE_DB_NAME=expense_db
USER_DB_NAME=user_db
TRANSACTION_DB_NAME=transaction_db
ACCESS_TOKEN_SECRET=youraccesstokensecret
REFRESH_TOKEN_SECRET=yourrefreshtokensecret
ACCESS_TOKEN_EXPIRES_IN=3600s
REFRESH_TOKEN_EXPIRES_IN=86400s
COOKIE_SECRET=yourcookiesecret
COOKIE_EXPIRES_IN=3600s